.app-spinner-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.app-spinner {
  font-size: 36px;
  color: #1d1fdd;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
