.container {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.content {
  margin: 0 120px 0 120px;
}

.graphic {
  width: 706px;
  height: 708px;
  position: fixed;
  right: 0;
  top: 159px;
  z-index: -10;
}

.post-date {
  margin-top: 96px;
  font-size: 10px;
  font-weight: 300;
}

.post-date > span {
  color: #1d1fdd;
}

.post-content {
  max-width: 588px;
}

.post-body {
  margin-top: 60px;
}
